* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #333;
  color: #ddd;
  margin: 0;
}

#header {
  background-color: #0052a1;
  padding: 15px;
  text-align: center;
}

.title {
  color: #fff;
  margin: 0px;
}

.sub-title {
  color: #fff;
  margin: 5px;
}

#contact {
  float: right;
  text-align: right;
  margin-top: -90px;
}

#contact p {
  font-size: 12px;
  margin: 5px;
}

#nav-bar {
  background-color: #ddd;
  overflow: hidden;
}

#nav-bar a {
  color: black;
  float: left;
  font-size: 18px;
  font-weight: 900;
  padding: 10px 0;
  text-align: center;
  width: 25%;
}

#nav-bar a:hover {
  background-color: #444;
  color: #ddd;
}

#nav-bar a.active {
  background-color: #333;
  color: #ddd;
}

.tab {
  padding: 20px 40px;
}

.hidden {
  display: none;
}

.section {
  margin-bottom: 50px;
}

.section-title {

}

.subsection {
  display: inline-block;
  width: 49%;
}

.subsection-66 {
  display: inline-block;
  width: 66%;
}

.subsection-33 {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.caption {
  font-style: italic;
  margin: 5px;
  text-align: center;
}

#background {
  font-size: 20px;
  height: 40px;
  margin-right: 25px;
  width: 150px;
}

#foreground {
  font-size: 20px;
  height: 40px;
  margin-right: 25px;
  width: 150px;
}

#cross-mix {
  font-size: 18px;
  height: 30px;
  margin-right: 25px;
  width: 120px;
}

#audio {
  margin-right: 25px;
  vertical-align: top;
}

#classification {
  background-color: #ddd;
  color: black;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  width: 300px;
}

#features {
  width: 100%;
}

#model-plot {
  margin-left: 15%;
  margin-top: 25px;
  width: 80%;
}

#nn-structure {
  margin-left: 40px;
  margin-top: 60px;
  width: 100%;
}

#five-class-confusion {
  margin-left: 5%;
  margin-top: 25px;
  width: 90%;
}

#all-class-confusion {
  margin-left: 5%;
  margin-top: 25px;
  width: 90%;
}

#five-class-report {
  margin-left: 5%;
  margin-top: 25px;
  width: 90%;
}

#all-class-report {
  margin-left: 5%;
  margin-top: 25px;
  width: 90%;
}

#dt-labeled {
  width: 100%;
}
