body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #888888;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #0052a1;
    color: white;
}

.title {
    background-color: #0052a1;
    color: white;
    text-align: center;
    padding: 15px;
}

.title-text {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    color: #eee;
}

.class-info {
    color: #ccc;
    margin: 5px;
}

.content {
    background-color: #eee;
    padding: 0px 15px;
}

.footer {
    padding-top: 19px;
    border-top: 1px solid #777; 
    background-color: #eee;
    flex: 1;
}

.container {
    display: flex;
    text-align: center;
    width: auto;
}

.containee {
    flex: 1 1 33%;
}

.contact {
    font-size: 22px;
    color: #004282;
    text-decoration: none;
}

.contact:hover {
    font-size: 22px;
    color: #0052A1;
    text-decoration: underline;
}